{% extends "base.html" %}

{% block title %}
Removing medicine instance
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>
            Are you sure you want to delete: {{ object.medicine.name }}?
        </p>
        <label for="fulltextarea">If yes, let me know why:</label>
        <textarea name="fulltextarea" cols=40 rows=10 required></textarea>
        <label for="quantity">How many items of medicine do you want to delete?</label>
        <input type="number" name="quantity">
        <input type="submit" value="Submit" class="btn btn-danger"/>
    </form>
{% endblock %} 