{% extends "base.html" %}

{% block title %}
Add Medicine
{% endblock %}

{% block content %}
    <h1>Add Medicine</h1>
    <form method="post">
        {% csrf_token %}
        <h5>Market Name</h5>
        {{ form.name }}
        <h5>Substance Doses</h5>
        <p>Choose name of the substance and type the dose in ml.</p>
        {% for subwidget in form.dose.subwidgets %}
        {{ subwidget }}
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock %}