{% extends 'base.html' %}

{% block content %}
<center>
    <h1>Order of {{ patient }}</h1>
</center>

<div class="row">
    <div class="col">
        <ol class="list-group list-group-flush">
            {% for med in order.medicine_instance.all %}
            <li class="list-group-item">
                {{ med }}  - {{ med.medicine.price_net }} zł
            </li>
            {% endfor %}
        </ol>
        <hr>
        <h4>Present state: {{ order.state }}</h4>
    </div>
    <div class="col">
        <h4>Shipping by {{ order.shipping.name }}: {{order.shipping.price }} zł.</h4>
        <hr>
        <h4>Discount: {{ order.discount }}</h4>
        <hr>
        <i><<h5>{{ order.created|date:"d M Y" }}</h5></i>
    </div>
</div>


{% endblock %}