{% extends 'base.html' %}

{% block content %}
<center>
    <h1>Order of {{ patient }}</h1>
</center>

<div class="row">
    <div class="col">
        <ol class="list-group list-group-flush">
            {% for med_inst in order.medicine_instance.all %}
            <li class="list-group-item">
                <p>{{ med_inst }}  - {{ med_inst.medicine.get_brutto_price|floatformat:2 }} zł</p>
            </li>
            {% endfor %}
        </ol>
        <hr>
        <h3>Present state: {{ order.state }}</h3>
    </div>
    <div class="col">
        <h3>Shipping by {{ order.shipping.name }}: {{order.shipping.price|floatformat:2 }} zł.</h3>
        <hr>
        {% if order.discount %}
        <h3>Discount: {{ order.discount.amount|floatformat:0 }} %</h3>
        {% else %}
        <h3>Discount: 0 %
        {% endif %}
        <hr>
        <h3>Total cost: {{ order.get_total_cost|floatformat:2 }} zł</h3>
        <hr>
        <i><p>{{ order.created|date:"d M Y" }}</p></i>
    </div>
</div>


{% endblock %}