{% extends 'base.html' %}
{% load static %}

{% block title %}
Prescription
{% endblock %}


{% block content %}

{% if profession %}
<h1>All prescriptions</h1>
<h3>Prescribed by {{ profession.my_user.base_user.first_name }} {{ profession.my_user.base_user.last_name }}</h3>
<hr>
<ul>
    {% for prescription in prescriptions %}
    <li>Written:
        <a href="{% url 'prescription-detail' pk=prescription.id %}">
            {{ prescription.created|date:"M d, Y" }} for: {{ prescription.patient.my_user.base_user.first_name }}
            {{ prescription.patient.my_user.base_user.last_name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<h1>Invalid ID</h1>
{% endif %}


{% endblock %}