html {
  scroll-behavior: smooth
}

body {
    background-color: WhiteSmoke;
}



h1 {
    font-size: 36px;
    color: #00ff00;
}

.borderh {
    border: 3px solid #00ff00;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


nav {
    background-color: #00CC99;
    position: fixed;
    width: 100%;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav a {
    color: white;
    text-decoration: none;
}

.d-flex {
    margin-block-end: 0rem;
    }

.dropdown-menu {
   background-color: aquamarine;
   border-color: aquamarine;
   border-radius: 20px;
   }

.btn {
  width: 70px;
  background: none;
  border: 3px solid;
  border-radius: 10px;
}

.form-control {
   height: 50px;
   width:400px;
}


.navbar-brand {
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 5%;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav-links a:hover {
    /*transform: scale(1.2);*/
    border: 3px solid gold;
    border-radius: 30px;
    background-color: gold;
}

.offer-list {
    display: flex;
    flex-wrap: wrap;
}

.offer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
    transition: .5s all;
}
.offer-box a {
    color: brown;
    text-decoration: none;
}

.offer-box:hover {
    transform: scale(1.5);
    background: aqua;
    border-radius: 20px;
    }


.jumbotron {
  background-color: paleturquoise;
}

section {
     margin-bottom: 80px;
     }

.pagination {
    margin:40px auto;
    font-weight:bold;
}

