{% extends "base.html" %}
{% load static %}

{% block title %}
Doctors
{% endblock %}

{% block content %}

<h1>Doctors</h1>
<form class="d-flex" method=POST action="{% url 'search-doctor' %}">
    {% csrf_token %}
    <div class="col-xs-2">
        <input class="form-control me-2" type="search" placeholder="Surname | Specialization" aria-label="Search"
               name="searched">
    </div>
    <button class="btn btn-outline-success" type="submit">
        Search
    </button>
</form>
<hr>

{% if searched or doctors %}
<ul class="list-group list-group-flush">
    {% for doc in doctors %}
    <li class="list-group-item">
        <div class="media">
            <div class="media-left">
                <img src="{% if doc.image %}{{ doc.image.url }}{% else %}{{ '../static/no-image.png' }}{% endif %}"
                     class="align-self-center mr-3" width="89" height="144"
                     alt="a photo of doctor">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Dr {{ doc.my_user.first_name }} {{ doc.my_user.last_name }}</h4>
                <p>Specialization: {{ doc.specialization }}</p>
            </div>
        </div>
    </li>
    {% empty %}
    <hr>
    <h3>Sorry, I can't find a doctor!</h3>

    {% endfor %}

    </div>
</ul>
{% endif %}

{% endblock %}

