{% extends "base.html" %}
{% load static %}

{% block title %}
Doctors
{% endblock %}

{% block content %}
<div class="borderh">
    <h1>Doctors</h1>
</div>
<form class="d-flex" method=POST action="{% url 'search-doctor' %}">
    {% csrf_token %}
    <div class="col-xs-2">
        <input class="form-control me-2" type="search" placeholder="Surname | Specialization" aria-label="Search"
               name="searched">
    </div>
    <button class="btn btn-outline-success" type="submit">
        Search
    </button>
</form>
<hr>

{% if doctors %}
<ul class="list-group list-group-flush">
    {% for doc in doctors %}
    <li class="list-group-item">
        <div class="media">
            <div class="media-left">
                <img src="{% if doc.photo %}{{ doc.photo.url }}{% else %}{{ '../static/no-image.png' }}{% endif %}"
                     class="align-self-center mr-3" width="89" height="144"
                     alt="a photo of doctor">
            </div>
            <div class="media-body">
                <h2 class="media-heading">
                    <a href="{% url 'doctor-detail' doc.id %}">Dr {{ doc }}</a>
                </h2>
                <p>Specialization: {{ doc.specialization }}</p>
            </div>
        </div>
    </li>
    {% empty %}
    <hr>
    <h3>Sorry, I can't find a doctor!</h3>
    {% endfor %}
</ul>
{% include "pagination.html" with page=page_obj %}
{% endif %}

{% endblock %}

