{% extends "base.html" %}
{% load static %}

{% block title %}
Patients
{% endblock %}

{% block content %}
    <h1>Patients</h1>
    <ul>
        {% for patient in patients %}
        <li>
            {% if perms.accounts.view_patient %}
                {{ patient.my_user.first_name }} {{ patient.my_user.last_name }} <a href="{% url 'patient-detail' patient.my_user.id %}">{{ patient.my_user.Personal_ID }}</a>
            {% else %}
                {{ patient.my_user.first_name }} {{ patient.my_user.last_name }} {{ patient.my_user.Personal_ID }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}